@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
body {
  margin: 0;
  font-family: "Permanent Marker", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("chopsticks.png"), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #4d4d4d;
  color: red;
}

/* #c8d6af */
h1 {
  text-align: center;
  font-size: 55px;
  text-transform: uppercase;
}

p {
  text-align: center;
  font-family: "Permanent Marker";
  font-size: 25px;
}

#buttons button {
  text-align: center;
  padding: 0.8rem 2rem;
  margin: 1rem;
  background-color: red;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 29px;
}

#buttons {
  text-align: center;
}
.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 30px 0;
}

.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  background-color: cyan;
  box-shadow: 0 0 15px 1px rgb(164 173 147 / 25%);
}

.circle:active {
  box-shadow: inset 0 0 40px rgb(72 72 72 / 25%);
}

.blue {
  background-color: blue;
}

.blueviolet {
  background-color: blueviolet;
}

.green {
  background-color: rgb(58, 197, 53);
}

.cyan {
  background-color: rgb(101, 206, 206);
}

.circle span {
  font-size: 50px;
}

.circle p {
  font-size: 50px;
  font-family: "Road Rage";
  color: white;
}

.active {
  box-shadow: 0 0 5px snow;
  background-color: yellow;
  background-image: url("sushi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
}

#container {
  width: 500px;
  height: 300px;
  background-color: white;
  position: fixed;
  z-index: 9999;
  background: rgba(31, 14, 7, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameover {
  background-color: white;
  width: 700px;
  height: 350px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 40px;
  position: relative;
}

#gameover h2 {
  text-align: center;
  font-size: 50px;
}

#gameover button {
  position: relative;
  bottom: 208px;
  left: 565px;
  font-size: 20px;
  padding: 10px 15px;
  background-color: rgb(240, 86, 86);
  border: none;
  color: white;
}

#buttons button:disabled {
  background-color: gray;
}

.girl {
  background-image: url("chinese.png");
  width: 300px;
  height: 300px;
  background-size: cover;
}
